.projetos{
    display: block;
    overflow-x: auto;
    margin: 0;
}
.projetos li img{
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
}
.projetos li{
    display: flex;
    flex-direction: row;
    margin-bottom:3rem;
}
.projetos .textArea{
    margin-left: 1rem;
    margin-right: .3rem;
    height: 100%;
}
.projetos li h2{
    margin: 10px;
}
.projetos li p{
    margin: 4px 0 4px 10px;
    font-size: .9rem;
    color: var(--fc2);
}
.technologies{
    margin: 1rem  0 1rem 0;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.technologies p{
    padding: 7px 15px;
    font-size: .8rem !important;
    background-color: rgba(111, 0, 255, 0.158);
    border-radius: 12px;
    cursor: default;
}
.links {
   gap: 30px;
   display: flex;
}


.projetos {
    animation: fadeIn 1s ease-in-out;
}


@media (max-width: 768px) {
    .projetos{
        overflow-x: hidden;
    }
    .projetos ul{
        padding: 0;
        overflow-x: hidden;
        width: 100%;
        display: block;
    }
    .projetos li img {
        align-self: center;
        max-width: 35%;
    }

    .projetos .textArea {
        max-width: 65%;
        margin: 0;
    }
    .projetos .technologies{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .projetos li p:nth-of-type(1){
        text-wrap: normal;
    }

}
@media (max-width: 420px) {
    .projetos li img{
        display: none;
    }
    .projetos li{
        flex-direction: column;
        width: 100%;
    }
    .projetos .textArea{
        max-width: 100% !important;
    }
    .projetos .textArea p:nth-of-type(0){
        width: 100%;
    }
    .links {
        display: flex;
        justify-content: center;
     }
}