aside {
    height: 100%;
    width: 23%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#fixed {
    position: fixed;
    z-index: 99;
    margin: 1rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#fixed select,
#fixed button {
    border: 2px solid var(--main-color);
    margin: 5px;
    background-color: transparent;
    border-radius: 6px;
    padding: 4px;
    color: var(--main-color);
    width: 2.7rem;
}

#foto {
    border-radius: 12px;
    box-shadow: rgba(182, 182, 197, 0.2) 0px -2px 20px 7px;
    width: 40%;
    margin-bottom: -2.6rem;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--fc);
}
#foto img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 3px solid var(--main-color);
}
#infoBar {
    width: 100%;
    height: 70%;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    box-shadow: rgba(182, 182, 197, 0.2) 0px 10px 20px 0px;
    background-color: var(--bgc);
}
#nomes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.8rem;
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    color: var(--fc);
}
#nome,
#apelido {
    margin: 0;
}
#apelido {
    font-size: 1.2rem;
}
#mais-infos a {
    width: 100%;
    display: block;
    overflow: hidden;
}
#mais-infos i {
    cursor: pointer;
    font-size: 1.7rem;
    border-bottom: 2px solid var(--main-color-hover);
    background-color: var(--bgc);

    height: auto;
    align-self: center;
    justify-content: left;
    display: flex;
    padding: 7px;
    margin: 7px 0;
    border-radius: 4px;
    overflow-x: auto;
}
.text-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin-left: 1rem;
}
.text-container p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}
#mais-infos i:hover {
    color: var(--main-color-hover);
    background-color: var(--bgc4);
}
#mais-infos a:hover .text-container p.letreiro {
    animation: letreiro 10s linear infinite;
}

@keyframes letreiro {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
#mais-infos {
    background-color: var(--bgc3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;

    width: 90%;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 1rem;
}
#redes {
    background-color: var(--bgc3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 90%;
    border-radius: 6px;
    padding: 0 15px;
    margin-bottom: 1rem;
}
#redes i {
    cursor: pointer;
    font-size: 2rem;
    border-bottom: 2px solid var(--main-color-hover);
    background-color: var(--bgc);

    height: auto;
    align-self: center;
    justify-content: left;
    display: flex;
    padding: 7px;
    margin: 7px 0;
    border-radius: 4px;
}
#cv {
    padding: 10px 20px;
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    transition: transform 0.3s;
}
#cv i {
    margin-right: 10px;
    color: var(--fg);
}
#cv:hover {
    background-color: var(--main-color-hover);
    transform: scale(1.09);
}


.Aside.open {
    left: 0;
}
.menu-toggle{
    display: none;
}
@media (max-width: 768px){

    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hamburger {
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s ease;
    }
    
    .hamburger span {
        display: block;
        height: 3px;
        background-color: var(--main-color);
        transition: all 0.3s ease;
    }
    
    .hamburger span:nth-of-type(1) {
        width: 100%;
    }
    
    .hamburger span:nth-of-type(2) {
        width: 80%;
    }
    
    .hamburger span:nth-of-type(3) {
        width: 60%;
    }
    
    .hamburger.open span:nth-of-type(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        width: 100%;
    }
    
    .hamburger.open span:nth-of-type(2) {
        opacity: 0; 
    }
    
    .hamburger.open span:nth-of-type(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
        width: 100%;
    }
    




    aside{
        position: fixed;
        left: -110%;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        transition: left 0.3s ease;
        z-index: 100;
        background-color: var(--bgc);
    }
    #foto{
        margin-top: 3rem;
    }
    #infoBar{
        width: 98%;
        height: 100%;
        justify-content: space-around;
    }

}