aside {
    height: 100%;
    width: 23%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#fixed{
    position:fixed;
    z-index: 99;
    margin: 1rem;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justfy-content: space-between;
}
#fixed select{
    border: 2px solid var(--main-color);
    margin: 5px;
    backgraund-color: transparent;
    border-redius: 4px;
}
#foto {
    border-radius: 12px;
    box-shadow: rgba(182, 182, 197, 0.2) 0px -2px 20px 7px;
    width: 54%;
    height: 25%;
    margin-bottom: -2rem;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
#foto img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 3px solid var(--main-color);
}
#infoBar {
    width: 100%;
    height: 70%;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    box-shadow: rgba(182, 182, 197, 0.2) 0px 10px 20px 0px;
    background-color: var(--bgc);
}
#nomes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
}
#nome, #apelido{
    margin: 0;
}

#mais-infos a{
    width: 100%;
}
#mais-infos i {
    cursor: pointer;
    font-size: 2rem;
    border-bottom: 2px solid var(--main-color-hover);
    background-color: var(--bgc);
    
    height: auto;
    align-self: center;
    justify-content: left;
    display: flex;
    padding: 7px;
    margin: 7px 0;
    border-radius: 4px;
}
#mais-infos i:hover {
    color: var(--main-color-hover);
    background-color: #ececec;
}
#mais-infos {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;

    width: 90%;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 1rem;
}
#cv {
    width: 68%;
    height: 4rem;
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
#cv i {
    margin-right: 10px;
    color: var(--fg);
}
#cv:hover{
    background-color: var(--main-color-hover);

}