.Diploma{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    scroll-behavior: smooth;
}
.pdfImageContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 15rem;
    max-width: 20rem;
}
.fullScreenContainer{
    position: fixed;
    top: 0;
    background-color: pink;
    left: 0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    gap:1.5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    z-index: 999;

}
.fullScreenContainer p{
    display: none;
}
.fullScreenContainer .pdfImg{
    scale:0.7 ;
}
.fullScreenContainer canvas{
    height: auto;
}
.pdfImageContainer p{
    min-width: 20rem;
    color: var(--text) ;
    display: flex;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    scroll-snap-align:  start;
    background-image: linear-gradient(to bottom, #9377f2, #6250d4);
    text-transform: capitalize;
    text-align: center;
}
.pdfImg {
    min-width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
    scroll-snap-align: start;
    scale:0.4 ;
}

.pdfImageContainer canvas{
    margin: 0;
    padding: 0;
    width: 17rem;
    height: 14rem;
    border-radius: 1rem;
}

.pdfImageContainer::-webkit-scrollbar {
    height: 0.7rem;
}
.pdfImageContainer::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
    border-radius: 40rem;
}
.pdfImageContainer::-webkit-scrollbar-thumb {
    background: var(--txt);
}
