html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Operation Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0.6rem;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  background-color: var(--bgc2);

}
#root{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  color: var(--main-color);
  text-decoration: none;
  transition: transform 0.3s;
}
a:hover{
  color: var(--main-color-hover);
  transform: scale(1.09);
}

:root {
  --main-color: blueviolet;
  --main-color-hover: blueviolet;
  /* --bgc: #fff;  
  --fc: #000;   
  --bgc2: #010118;
  --bgc3: #ccc; */
  --bgc: #000513; 
  --fc: white;   
  --bgc2: #010118; 
  --bgc3: #0f093333;
  /* --bgc3: #22202e; */
  /* --bgc4: #ececec; */
  --bgc4: #010218;
}
.dark-theme {
  --bgc: #000513; 
  --fc: white;   
  --bgc2: #010118; 
  --bgc3: #22202e;
}

@import url('https://fonts.googleapis.com/css2?family=Operation+Mono:wght@400;700&display=swap');