nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background-color: var(--bgc);
    border-radius: 1rem;
    height: auto;
    font-size: 2rem;
    padding: 16px;
    width: 4%;
}
nav a{
    margin: 10px 0;
    cursor: pointer;
}
nav a:hover{
    color: var(--main-color-hover);
}