.projetos{
    display: block;
    overflow-x: auto;
    margin: 0;
}
.projetos li img{
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
}
.projetos li{
    display: flex;
    flex-direction: row;
    margin-bottom:3rem;
}
.projetos .textArea{
    margin-left: 1rem;
    margin-right: .3rem;
    height: 100%;
}
.projetos li h2{
    margin: 10px;
}
.projetos li p{
    margin: 4px 0 4px 10px;
    font-size: .9rem;
    color: var(--fc2);
}
.technologies{
    margin: 1rem  0 1rem 0;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
.technologies p{
    padding: 7px 15px;
    margin: 0 10px !important;
    font-size: .8rem !important;
    background-color: rgba(111, 0, 255, 0.158);
    border-radius: 12px;
    cursor: default;
}
.links a:nth-of-type(2) {
    margin-left: 30px;
}


.projetos {
    animation: fadeIn 1s ease-in-out;
}


@media (max-width: 768px) {
    .projetos li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--main-color);
        border-radius: 0;
    }
    .projetos ul{
        padding: 0;
    }

    .projetos li img {
        width: 80%; 
        height: auto;
    }

    .projetos .textArea {
        margin: 0;
        text-align: center; 
    }

    .projetos li h2 {
        margin: 10px 0;
        font-size: 1.5rem;
    }

    .projetos li p {
        font-size: 0.85rem;
        margin: 5px 0;
        text-align: justify;
    }

    .technologies {
        flex-wrap: wrap;
    }
    .technologies p{
        margin: 5px 10px !important;
    }


    .links {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

    }

    .links a {
        margin: 5px 0;
        font-size: 0.9rem;
    }
}