.projetos{
    display: block;
    overflow-x: auto;
    margin: 0;
}
.projetos li img{
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
}
.projetos li{
    display: flex;
    flex-direction: row;
    margin-bottom:3rem;
}
.projetos .textArea{
    margin-left: 1rem;
    margin-right: .3rem;
    height: 100%;
}
.projetos li h2{
    margin: 10px;
}
.projetos li p{
    margin: 4px 0 4px 10px;
    font-size: .9rem;
    color: var(--fc2);
}
.technologies{
    margin: 1rem  0 1rem 0;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
.technologies p{
    padding: 7px 15px;
    margin: 0 10px !important;
    font-size: .8rem !important;
    background-color: rgba(111, 0, 255, 0.158);
    border-radius: 12px;
}